<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="ExtintSoapBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint  address="https://pbiws.payback.in/PBExternalServices/v1/soap?wsdl" binding="basicHttpBinding" bindingConfiguration="ExtintSoapBinding"
          contract="PayBackServiceReference.ExtintPortType" name="ExtintSoapBinding_ExtintPortType" />
    </client>
  </system.serviceModel>
</configuration>